{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block content %}
<!
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>login</title>
  <style>h2 {text-align: center;}
body {background-color: #1A75FF;
	  text-align: center;
	  }</style>
</head>


<body>
  <img src="{% static 'nitwlogo.png' %} "/>
  <div>
			<img class="mySlides" src="{% static 'nitwgate.jpg' %}" style="width:100%" height= "500px">
			<img class="mySlides" src="{% static '1KHOSTEL.jpg' %}" style="width:100%" height= "500px">
			<img class="mySlides" src="{% static 'ig.jpg' %}" style="width:100%" height= "500px">
			<img class="mySlides" src="{% static 'ambedkar.jpg' %}" style="width:100%" height= "500px">
		</div>

		<script>
			var myIndex = 0;
			carousel();

			function carousel() {
			var i;
			var x = document.getElementsByClassName("mySlides");
			for (i = 0; i < x.length; i++) {
			x[i].style.display = "none";
			}
			myIndex++;
			if (myIndex > x.length) {myIndex = 1}
			x[myIndex-1].style.display = "block";
			setTimeout(carousel, 2000);
			}
		</script>
<h2>Login</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Login</button>
</form>
{% endblock %}
</body>
</html>