
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>p {text-align: center;}
body {background-color: #1A75FF;
	  text-align: center;
	  }
   </style>
</head>


<body>
{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">
  <div class="row-4">
    <center>
    <h1> Hi {{ user.username }}!</h1>
  </center>
  </div>
</br>
</br>
</br>
  <div class="row">
    <div class="col-1">
    </div>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Create New Complaint </h5>
        <p class="card-text">Click on the Button to File a new Complaint.</p>
        <a href="{% url 'complaintform' %}" class="btn btn-danger">CLick Me</a>
      </div>
      </div>
    </div>
    <div class="col-2">
    </div>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Track Existing Complaint </h5>
        <p class="card-text">Click on the Button to check status of Complaint.</p>
        <a href="#" class="btn btn-warning">CLick Me</a>
      </div>
      </div>
    </div>
    <div class="col-1">
    </div>
  </div>
</div>
{% else %}
  <p>log in first !!</p>
 <div>
			<img class="mySlides" src="{% static 'nitwgate.jpg' %}" style="width:100%" height= "500px">
			<img class="mySlides" src="{% static '1KHOSTEL.jpg' %}" style="width:100%" height= "500px">
			<img class="mySlides" src="{% static 'ig.jpg' %}" style="width:100%" height= "500px">
			<img class="mySlides" src="{% static 'ambedkar.jpg' %}" style="width:100%" height= "500px">
		</div>
<script>
			var myIndex = 0;
			carousel();

			function carousel() {
			var i;
			var x = document.getElementsByClassName("mySlides");
			for (i = 0; i < x.length; i++) {
			x[i].style.display = "none";
			}
			myIndex++;
			if (myIndex > x.length) {myIndex = 1}
			x[myIndex-1].style.display = "block";
			setTimeout(carousel, 2000);
			}
		</script>
 <a href="{% url 'login' %}">login</a>
    <a href="{% url 'signup' %}">signup</a>
{% endif %}
{% endblock %}
</body>
</html>
